*.log
*.pot
*.pyc
__pycache__

.DS_Store

.env
venv/
myenv/

.idea/

sessions/

media/preinvoices/
media/nightly_voices/

cameras/ai/Face/models/*
cameras/ai/Face/models/

models/

db.sqlite3


ffmpeg/