aiohappyeyeballs
# aiohttp
aiosignal
amqp
annotated-types
asgiref
attrs
Automat
billiard
celery
certifi
cffi
channels
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
constantly
cryptography
daphne
defusedxml
Django
django-extensions
django-jalali-date
django-phone-field
django-phonenumber-field
django-quill-editor
django-tinymce
django-widget-tweaks
dnspython
email_validator
et_xmlfile
# frozenlist
h11
http_ece
hyperlink
idna
incremental
jalali_core
jdatetime
Khayyam
kombu
multidict
numpy
oauthlib
openpyxl
outcome
packaging
persiantools
phonenumbers
Pillow
prompt_toolkit
propcache
py-vapid
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
PyJWT
pyOpenSSL
PySocks
python-dateutil
python-dotenv
python3-openid
pytz
pywebpush
qrcode
requests
requests-oauthlib
service-identity
six
sniffio
social-auth-app-django
social-auth-core
sortedcontainers
sqlparse
trio
trio-websocket
Twisted
txaio
typing-inspection
typing_extensions
tzdata
vine
wcwidth
webdriver-manager
webpush
websocket-client
whitenoise
wsproto
yarl
zope.interface
gender_guesser
persian-gender-detection

opencv-python
onvif-zeep

vidgear
selenium
pandas
django-pwa
xlrd
rapidfuzz
smsir-python
xlwt
djangorestframework
persian-names

vosk
openai=0.28.0
pydub
audioop-lts